@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';

.video {
	&__info {
		padding: 0 5vw;

		@include mixins.desktop {
			padding: 0 0 0 10vw;
		}
	}

	&__title {
		color: colours.$primary_dark;
		padding-bottom: 1rem;
		border-bottom: 2px solid colours.$secondary_med;
		@extend %page_header-mobile;

		@include mixins.tablet {
			padding-bottom: 0.5rem;
			margin-bottom: 0;
			border-bottom: none;
			@include typography.page_header;
		}
	}

	&__details {
		display: flex;
		justify-content: space-between;
		padding-bottom: 1rem;
		color: colours.$primary_med;
		border-bottom: 2px solid colours.$secondary_med;

		@include mixins.tablet {
			padding-bottom: 0.5rem;
		}

		@include mixins.desktop {
			padding-right: 2rem;
		}
	}

	&__channel {
		font-weight: 600;
		color: colours.$primary_dark;

		@include mixins.tablet {
			font-weight: 700;
		}
	}

	&__metrics {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		width: 40%;

		@include mixins.tablet {
			flex-direction: row;
			justify-content: flex-end;
			gap: 2rem;
		}

		& div {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}
	}

	&__authorship {
		@extend .video__metrics;
		width: 55%;

		@include mixins.tablet {
			justify-content: flex-start;
		}
	}

	&__description {
		padding: 1rem 0;

		@include mixins.tablet {
			padding: 1.5rem 0;
			@include typography.body-copy;
			font-size: 1rem;
		}

		@include mixins.desktop {
			padding-right: 2rem;
			font-size: 0.975rem;
		}
	}

	&__comments {
		@extend .video__channel;
	}
}
