@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';

.video-list {
	padding: 0 5vw 1rem;

	@include mixins.desktop {
		padding: 1.5rem 10vw 0 1.5rem;
		border-left: 2px solid colours.$secondary_med;
	}

	&__header {
		padding: 1.5rem 0 1.25rem;
		border-top: 2px solid colours.$secondary_med;
		margin: 0;
		@extend %labels_buttons-mobile;
		font-size: 0.8rem;
		color: colours.$primary_med;

		@include mixins.tablet {
			@include typography.labels_buttons;
			padding-bottom: 1.5rem;
		}

		@include mixins.desktop {
			padding-top: 1rem;
			border-top: none;
		}
	}
}

.video-preview {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;

	@include mixins.tablet {
		max-width: 50%;
		margin-bottom: 1.25rem;
	}

	@include mixins.desktop {
		max-width: 100%;
	}

	&__image {
		width: 35%;
		max-height: 100%;
		border-radius: 4px;
	}

	&__authorship {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.125rem 0;
		color: colours.$primary_dark;

		@include mixins.tablet {
			max-width: 50%;
		}
	}

	&__title {
		@extend %subheader-mobile;
		font-weight: 600;
		margin: 0;

		@include mixins.tablet {
			@include typography.subheader;
		}
	}

	&__channel {
		margin: 0;
	}
}
