@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';

.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	height: 2.75rem;
	width: 100%;
	margin-top: 1rem;
	color: colours.$primary_light;
	background-color: colours.$primary_colour;
	border: 0px;
	border-radius: 0.25rem;
	cursor: pointer;

	@include mixins.tablet {
		width: 10rem;
		min-width: 10rem;
		height: 2.5rem;
		margin-top: 0;
	}

	&:hover {
		background-color: colours.$secondary_colour;
	}

	&__icon {
		height: 58%;
		position: absolute;
		left: 0.5rem;
	}

	&__text {
		@extend %labels_buttons-mobile;
		font-size: 0.825rem;
		padding-top: 0.3rem;

		@include mixins.tablet {
			@include typography.labels_buttons;
			padding-left: 0.5rem;
		}

		@include mixins.desktop {
			padding-top: 0.275rem;
		}
	}
}
