// COLOURS

//brainflix black
$primary_dark: #323232;

//brainflix dark black
$secondary_dark: #000000;

//brainflix blue
$primary_colour: #0095ff;

//brainflix dark blue
$secondary_colour: #0065ad;

//silver
$primary_med: #afafaf;

//mercury
$secondary_med: #e1e1e1;

//white
$primary_light: #ffffff;

//alabaster
$secondary_light: #fafafa;

//error red
$error: #d22d2d;
