@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';

%form-field {
	max-width: 100%;
	padding: 0.75rem 0.75rem 0.5rem;
	border: 1px solid colours.$secondary_med;
	border-radius: 4px;
	@extend %labels_buttons-mobile;
	font-weight: 400;

	@include mixins.tablet {
		height: 2.5rem;
	}

	&:hover {
		border: 2px solid colours.$primary_colour;
	}

	&::placeholder {
		font-family: 'avenir-next';
		color: colours.$primary_dark;
	}

	&--error {
		border-color: colours.$error;
	}
}
