@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';
@use '../../styles/partials/placeholders.scss';

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 5vw;

	@include mixins.tablet {
		flex-direction: row;
		justify-content: space-between;
		padding: 1.5vw calc(5vw - 1.25rem) 1.5vw 5vw;
	}

	@include mixins.desktop {
		padding: 1.5vw calc(10vw - 1.25rem) 1.5vw 10vw;
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	@include mixins.tablet {
		justify-content: flex-end;
		gap: 1.5rem;
	}

	@include mixins.desktop {
		gap: 2rem;
	}

	&__top-row {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		width: 100%;

		@include mixins.tablet {
			justify-content: flex-end;
			width: 45%;
			gap: 1.5rem;
		}

		@include mixins.desktop {
			gap: 2rem;
		}
	}

	&__searchbar {
		@extend %form-field;
		width: 100%;
		padding-left: 2.5rem;
		background: url('../../assets/images/icons/search.svg') no-repeat;
		background-position: 0.75rem 50%;

		@include mixins.tablet {
			font-weight: 600;
		}

		@include mixins.desktop {
			width: 65%;
		}
	}
}
