@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';

.current-video {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: colours.$secondary_dark;

	&__player {
		width: 94vw;
	}
}
