@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';

.video {
	&__current-selection {
		display: flex;
		justify-content: center;
		margin: 0;
		background-color: colours.$secondary_dark;
		overflow: hidden;

		@include mixins.tablet {
			padding: 0 5vw;
		}

		@include mixins.desktop {
			padding: 0 17.25vw;
		}
	}

	&__player {
		width: 100%;
	}
}
