@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';

.avatar {
	height: 2.25rem;

	@include mixins.tablet {
		height: 2.5rem;
	}

	&__mobile {
		display: flex;
		height: 2.25rem;
		width: 2.25rem;
		border-radius: 50%;
		background-color: colours.$secondary_med;
		overflow: hidden;

		@include mixins.tablet {
			display: none;
		}
	}

	&__standard {
		@extend .avatar__mobile;
		display: none;
		height: 2.5rem;
		width: 2.5rem;

		@include mixins.tablet {
			display: flex;
		}
	}
}
