@use '../../styles/partials/colours';
@use '../../styles/partials/mixins';
@use '../../styles/partials/typography';
@use '../../styles/partials/placeholders.scss';

.comments {
	padding: 0 5vw;

	&__form {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-bottom: 1rem;
	}

	&__input-wrapper {
		display: flex;
		flex-direction: column;

		& label {
			margin-bottom: 0.25rem;
			@extend %labels_buttons-mobile;
			color: colours.$primary_med;
		}
	}

	&__input {
		@extend %form-field;
	}

	&__container {
		display: flex;
		flex-direction: column;
	}
}

.generated-comment {
	display: flex;
	padding: 1rem 0;
	border-top: 1px solid colours.$secondary_med;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__authorship {
		display: flex;
		justify-content: space-between;
	}

	&__name {
		color: colours.$primary_dark;
		font-weight: 600;
	}

	&__date {
		color: colours.$primary_med;
	}

	&__body {
		color: colours.$primary_dark;
	}
}
